{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="content">
        <h1>About</h1>
            <div class="col-container">
            <div class="left-div">The course Object-Oriented Web Technologies, a.k.a. MVC, focuses on object-oriented programming techniques in the PHP programming language. Classic object-oriented constructs are handled together with object-oriented programming in a web-based framework along with databases and unit testing. <br><br></div>
            <div class="right-div">
                <h4>GitHub-repos:</h4>
                <a href="https://github.com/dbwebb-se/mvc"><img class="icon_image" src="img/dbwebb.png" alt="Dbwebb Github-repo"></a>
                <a href="https://github.com/joml21-bth/joml21-bth-mvc-2025"><img class="icon_image" src="img/logo.png" alt="Dbwebb Github-repo"></a>

            </div>
        </div>
    </div>
{% endblock %}
