{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="content">
    <h1>Home</h1>
    <img class="img_r" src="img/foto.png" alt="Image of joml21">
    <p>My name is Johan and I am starting my second attempt to become a web programmer. I tried one of the course packages in the fall of 2021 while working full-time and taking care of a distance relationship. The education was very interesting and rewarding, but unfortunately there was not enough time!</p>
    
    <p>Since the failed study attempt, I have been wondering whether I would dare to invest in the entire education full-time. In the winter of 2023, I received notice that I would be laid off due to lack of work. Sad of course, but at the same time it felt like a sign to put in my full effort.</p>

    <p>My background is mainly in urban planning and municipal operations, after a degree in civil engineering and working as a building inspector for just over 10 years. My future thoughts after completing my education are to use the experience with the newly acquired skills and possible contacts to improve the deplorable IT systems that municipalities are struggling with.</p>

    <p>I have always had a keen interest in technology, probably influenced by the fact that my father is a mechanical engineer and programmer. My siblings and I grew up with ATARI, Amstrad Sinclair etc. in the playroom and were later among the first private individuals in Malmö to have ISDN and had a download speed of a breathtaking 64kbps (and more importantly: low ping in Quake).</p>
</div>

{% endblock %}